[Unit]
Description=Custom docker CI/CD Server
After=network-online.target

[Service]
WorkingDirectory=/root/fastapi-docker-ci-cd-server
Type=simple
Restart=always
RestartSec=3
Type=forking
ExecStart=/bin/bash server.sh

[Install]
WantedBy=multi-user.target
